@{
    ViewData["Title"] = "Create Order";
}

<div class="text-center">
    <h2>Create a New Order</h2>

    <form method="post" class=" mt-5 text-center" asp-action="CreateOrder">
        <div class="d-flex flex-column gap-1 align-items-center justify-content-center ">
            <div class="">
                <label for="product">Select Product:</label>
                <select class="mt-5 " id="product" name="productId">
                    @foreach (var product in ViewBag.Products)
                    {
                        <option value="@product.IntProductId">@product.strProductName</option>
                    }
                </select>
            </div>

            <div class="">
                <label for="quantity">Quantity:</label>
                <input class="mt-5" type="number" id="quantity" name="quantity" required />
            </div>

            <div class="">
                <label for="customer">Customer Name:</label>
                <input class="mt-5" type="text" id="customer" name="customerName" required />
            </div>
        </div>

        <button type="submit" class="mt-5 btn btn-success d-inline-block">Submit</button>
    </form>

</div>